@page "/"
@inject RvApp Rv
@inject IJSRuntime JS
@implements IDisposable
@using RomVaultCore.Scanner

@if (!Rv.Ready)
{
    <div class="splash">
        <img src="img/logo.png" alt="RomVault" />
        <div class="splash-text">@Rv.InitText</div>
        <progress max="@Rv.InitMax" value="@Rv.InitPercent"></progress>
        <div class="splash-ver">RomVault @Program.strVersion</div>
    </div>
}
else
{
    <div class="rv-root" @onclick="CloseContextMenus">

        @* ======================= menu bar ======================= *@
        <div class="menubar">
            <div class="menu">
                <span>Update DATs</span>
                <div class="menu-drop">
                    <a @onclick="() => Rv.RunUpdateDats(false)">Update New DATs <kbd>F5</kbd></a>
                    <a @onclick="() => Rv.RunUpdateDats(true)">Refresh All DATs <kbd>Shift+F5</kbd></a>
                </div>
            </div>
            <div class="menu">
                <span>Scan ROMs</span>
                <div class="menu-drop">
                    <a @onclick="() => Rv.RunScan(EScanLevel.Level1)">Scan ticked new ROMs headers only <kbd>Shift+F6</kbd></a>
                    <a @onclick="() => Rv.RunScan(EScanLevel.Level2)">Scan ticked new ROMs with full hash check <kbd>F6</kbd></a>
                    <a @onclick="() => Rv.RunScan(EScanLevel.Level3)">ReScan All ticked ROMs with full hash check <kbd>Ctrl+F6</kbd></a>
                </div>
            </div>
            <div class="menu"><span @onclick="() => Rv.RunFindFixes()">Find Fixes</span></div>
            <div class="menu"><span @onclick="() => Rv.RunFix()">Fix ROMs</span></div>
            <div class="menu">
                <span>Reports</span>
                <div class="menu-drop">
                    <a @onclick="() => Rv.MakeFixDat(null, true)">Fix Dat Report <kbd>F9</kbd></a>
                    <a @onclick="() => Rv.RunFullReport()">Full Report <kbd>Shift+F9</kbd></a>
                    <a @onclick="() => Rv.RunFixReport()">Fix Report <kbd>Ctrl+F9</kbd></a>
                </div>
            </div>
            <div class="menu">
                <span>Settings</span>
                <div class="menu-drop">
                    <a @onclick='() => OpenDialog("settings")'>RomVault Settings <kbd>F10</kbd></a>
                    <a @onclick='() => OpenDialog("dirrules")'>Directory Dat Rules <kbd>Shift+F10</kbd></a>
                    <a @onclick='() => OpenDialog("dirmappings")'>Directory Mappings <kbd>Ctrl+F10</kbd></a>
                </div>
            </div>
            <div class="menu"><span @onclick='() => OpenDialog("addtosort")'>Add ToSort</span></div>
            <div class="menu">
                <span>Help</span>
                <div class="menu-drop">
                    <a href="https://wiki.romvault.com/" target="_blank">Visit Help Wiki</a>
                    <a @onclick='() => OpenDialog("colorkey")'>Color Key <kbd>F1</kbd></a>
                    <a href="https://wiki.romvault.com/doku.php?id=whats_new" target="_blank">Whats New</a>
                    <a @onclick='() => OpenDialog("about")'>About RomVault <kbd>F12</kbd></a>
                </div>
            </div>
            <div class="menubar-right">RomVault @Program.strVersion</div>
        </div>

        <div class="rv-main">
            @* ======================= toolbar ======================= *@
            <div class="toolbar">
                <button title="Left Click: Dat Update&#10;Shift Left Click: Full Dat Rescan" disabled="@Rv.Working"
                        @onclick="e => Rv.RunUpdateDats(e.ShiftKey)">
                    <img src="img/btnUpdateDats_@(Rv.Working ? "Disabled" : "Enabled").png" /></button>
                <button title="Scan ROMs (full hash check)" disabled="@Rv.Working"
                        @onclick="() => Rv.RunScan(EScanLevel.Level2)">
                    <img src="img/btnScanRoms_@(Rv.Working ? "Disabled" : "Enabled").png" /></button>
                <button title="Find Fixes" disabled="@Rv.Working"
                        @onclick="() => Rv.RunFindFixes()">
                    <img src="img/btnFindFixes_@(Rv.Working ? "Disabled" : "Enabled").png" /></button>
                <button title="Left Click: Fix Files&#10;Right Click: Scan / Find Fix / Fix" disabled="@Rv.Working"
                        @onclick="() => Rv.RunFix()"
                        @oncontextmenu="() => Rv.RunAutoScanFix()" @oncontextmenu:preventDefault>
                    <img src="img/btnFixFiles_@(Rv.Working ? "Disabled" : "Enabled").png" /></button>
                <button title="Left Click: Fix Dat (Missing + MIA)&#10;Right Click: Full Fix Dat" disabled="@Rv.Working"
                        @onclick="() => Rv.MakeFixDat(null, true)"
                        @oncontextmenu="() => Rv.MakeFixDat(null, false)" @oncontextmenu:preventDefault>
                    <img src="img/btnReport_@(Rv.Working ? "Disabled" : "Enabled").png" /></button>

                <div class="presets-label">Tree Pre-Sets</div>
                <div class="presets">
                    @for (int i = 1; i <= 4; i++)
                    {
                        int idx = i;
                        <button title="Left Click: Load Tree Settings&#10;Right Click: Save Tree Settings" disabled="@Rv.Working"
                                @onclick="() => Rv.TreePreset(false, idx)"
                                @oncontextmenu="() => Rv.TreePreset(true, idx)" @oncontextmenu:preventDefault>
                            <img src="img/default@(idx).png" /></button>
                    }
                </div>
            </div>

            <div class="rv-content">
                @* =================== left: dat info + tree =================== *@
                <div class="left-pane">
                    <fieldset class="info-box">
                        <legend>Dat Info :</legend>
                        <div class="info-grid">
                            <label>Name :</label><input readonly value="@Rv.DatPanel.Name" class="wide" title="@Rv.DatPanel.Name" />
                            <label>Description :</label><input readonly value="@Rv.DatPanel.Description" class="wide" />
                            <label>Category :</label><input readonly value="@Rv.DatPanel.Category" />
                            <label>Version :</label><input readonly value="@Rv.DatPanel.Version" />
                            <label>Author :</label><input readonly value="@Rv.DatPanel.Author" />
                            <label>Date :</label><input readonly value="@Rv.DatPanel.Date" />
                            <label>ROM Path :</label><input readonly value="@Rv.DatPanel.Path" class="wide" title="@Rv.DatPanel.Path" />
                            <label>ROMs Got :</label><input readonly value="@Rv.DatPanel.RomsGot" />
                            <label>ROMs Fixable :</label><input readonly value="@Rv.DatPanel.RomsFixable" />
                            <label>ROMs Missing :</label><input readonly value="@Rv.DatPanel.RomsMissing" />
                            <label>ROMs Unknown :</label><input readonly value="@Rv.DatPanel.RomsUnknown" />
                        </div>
                    </fieldset>
                    <div class="tree-pane">
                        @foreach (RvFile child in RvApp.TreeChildren(DB.DirRoot))
                        {
                            <RvTreeNode Node="child" Rv="Rv" OnContextMenu="ShowTreeMenu" />
                        }
                    </div>
                </div>
                <div class="splitter" data-axis="x" data-target=".left-pane" data-var="--w-left" title="Drag to resize"></div>

                @* =================== right: game info, grids =================== *@
                <div class="right-pane">
                    <div class="right-top">
                        <fieldset class="info-box game-info">
                            <legend>Game Info :</legend>
                            @if (Rv.GamePanel.Visible)
                            {
                                <div class="game-fields">
                                    <label>Name :</label><input readonly value="@Rv.GamePanel.Name" title="@Rv.GamePanel.Name" />
                                    @foreach (var f in Rv.GamePanel.Fields)
                                    {
                                        <label>@f.Label :</label><input readonly value="@f.Value" title="@f.Value" />
                                    }
                                </div>
                            }
                        </fieldset>
                        <div class="filters">
                            <label><input type="checkbox" checked="@S.chkBoxShowComplete" @onchange='e => Rv.SaveShowCheckbox("complete", (bool)e.Value)' /> Show Complete</label>
                            <label><input type="checkbox" checked="@S.chkBoxShowPartial" @onchange='e => Rv.SaveShowCheckbox("partial", (bool)e.Value)' /> Show Partial</label>
                            <label><input type="checkbox" checked="@S.chkBoxShowEmpty" @onchange='e => Rv.SaveShowCheckbox("empty", (bool)e.Value)' /> Show Empty</label>
                            <label><input type="checkbox" checked="@S.chkBoxShowFixes" @onchange='e => Rv.SaveShowCheckbox("fixes", (bool)e.Value)' /> Show Fixes</label>
                            <label><input type="checkbox" checked="@S.chkBoxShowMIA" @onchange='e => Rv.SaveShowCheckbox("mia", (bool)e.Value)' /> Show MIA</label>
                            <label><input type="checkbox" checked="@S.chkBoxShowMerged" @onchange='e => Rv.SaveShowCheckbox("merged", (bool)e.Value)' /> Show Merged / Deduped</label>
                            <span class="filter-box">
                                <input placeholder="Filter..." value="@Rv.FilterText" @oninput="OnFilterInput" />
                                <button @onclick="ClearFilter">X</button>
                            </span>
                        </div>
                    </div>

                    <div class="grids-and-art">
                        <div class="grids-col">
                            @* ============ game grid ============ *@
                            <div class="grid game-grid" @oncontextmenu:preventDefault>
                                <div class="grid-head game-cols@(Rv.ShowDescriptionCol ? "" : " no-desc")">
                                    <span>Type</span>
                                    <span class="sortable" @onclick="() => Rv.SortGameGrid(1)">Game (Directory / Zip)@(SortGlyph(1))</span>
                                    @if (Rv.ShowDescriptionCol)
                                    {<span class="sortable" @onclick="() => Rv.SortGameGrid(2)">Description@(SortGlyph(2))</span>}
                                    <span class="sortable" @onclick="() => Rv.SortGameGrid(3)">Modified@(SortGlyph(3))</span>
                                    <span>ROM Status</span>
                                </div>
                                <div class="grid-body">
                                    <Virtualize Items="Rv.GameRows" ItemSize="22" Context="row">
                                        <div class="grid-row game-cols@(Rv.ShowDescriptionCol ? "" : " no-desc") @(row.File == Rv.SelectedGame ? "selected" : "")"
                                             style="background:@StatusColors.BackColor(row.StatusKey, Dark);color:@StatusColors.ForeColor(row.StatusKey, Dark)"
                                             @onclick="() => Rv.SelectGame(row.File)"
                                             @ondblclick="() => Rv.GameDoubleClick(row)"
                                             @oncontextmenu="e => ShowGameMenu(row, e)" @oncontextmenu:preventDefault>
                                            <span class="cell-type">
                                                @foreach (string icon in row.TypeIcons)
                                                {<img src="img/@(icon).png" />}
                                            </span>
                                            <span class="cell-text">@row.Name</span>
                                            @if (Rv.ShowDescriptionCol)
                                            {<span class="cell-text">@row.Description</span>}
                                            <span class="cell-text">@row.DateTime</span>
                                            <span class="cell-chips">
                                                @foreach (var chip in row.StatusChips)
                                                {
                                                    <span class="chip" style="background:@StatusColors.ChipColor(chip.Status)" title="@chip.Status">
                                                        <img src="img/G_@(chip.Status).png" />@chip.Count
                                                    </span>
                                                }
                                            </span>
                                        </div>
                                    </Virtualize>
                                </div>
                            </div>

                            <div class="splitter h" data-axis="y" data-target=".game-grid" data-var="--h-gamegrid" title="Drag to resize"></div>

                            @* ============ rom grid ============ *@
                            <div class="grid rom-grid">
                                <div class="grid-head rom-cols" style="@RomColsStyle">
                                    <span>Got</span><span>ROM (File)</span>
                                    @if (Rv.RomShowMerge){<span>Merge</span>}
                                    <span>Size</span><span>CRC32</span><span>SHA1</span><span>MD5</span>
                                    @if (Rv.RomShowAlt){<span>AltSize</span><span>AltCRC32</span><span>AltSHA1</span><span>AltMD5</span>}
                                    @if (Rv.RomShowStatus){<span>Status</span>}
                                    @if (Rv.RomShowDate){<span>Modified</span>}
                                    <span>Zip</span><span>Dupes</span>
                                </div>
                                <div class="grid-body">
                                    <Virtualize Items="Rv.RomRows" ItemSize="22" Context="row">
                                        <div class="grid-row rom-cols" style="@RomColsStyle;background:@StatusColors.BackColor(row.StatusKey, Dark);color:@StatusColors.ForeColor(row.StatusKey, Dark)"
                                             @onclick="() => Rv.SelectRom(row)">
                                            <span class="cell-type"><img src="img/@(row.GotIcon).png" onerror="this.style.display='none'" /></span>
                                            <span class="cell-text" title="@row.Name">@row.Name</span>
                                            @if (Rv.RomShowMerge){<span class="cell-text">@row.Merge</span>}
                                            <span class="cell-text num">@row.Size</span>
                                            <span class="cell-text mono">@row.CRC32</span>
                                            <span class="cell-text mono">@row.SHA1</span>
                                            <span class="cell-text mono">@row.MD5</span>
                                            @if (Rv.RomShowAlt){<span class="cell-text num">@row.AltSize</span><span class="cell-text mono">@row.AltCRC32</span><span class="cell-text mono">@row.AltSHA1</span><span class="cell-text mono">@row.AltMD5</span>}
                                            @if (Rv.RomShowStatus){<span class="cell-text">@row.Status</span>}
                                            @if (Rv.RomShowDate){<span class="cell-text">@row.DateModFile</span>}
                                            <span class="cell-text num">@row.ZipIndex</span>
                                            <span class="cell-text num dupes @(row.DupeCount == "" ? "" : "link")"
                                                  @onclick="() => ShowRomInfo(row)" @onclick:stopPropagation>@row.DupeCount</span>
                                        </div>
                                    </Virtualize>
                                </div>
                            </div>
                        </div>

                        @* ============ artwork side panel ============ *@
                        @if (Rv.Art.Visible)
                        {
                            <div class="splitter" data-axis="x" data-target=".art-pane" data-var="--w-art" data-invert="1" title="Drag to resize"></div>
                            <div class="art-pane">
                                <div class="art-tabs">
                                    @if (Rv.Art.HasArt)
                                    {<span class="@TabCls("art")" @onclick='() => _artTab = "art"'>ArtWork</span>}
                                    @if (Rv.Art.HasMedium)
                                    {<span class="@TabCls("medium")" @onclick='() => _artTab = "medium"'>Medium</span>}
                                    @if (Rv.Art.HasScreens)
                                    {<span class="@TabCls("screens")" @onclick='() => _artTab = "screens"'>Screens</span>}
                                    @if (Rv.Art.InfoTab != null)
                                    {<span class="@TabCls("info")" @onclick='() => _artTab = "info"'>@Rv.Art.InfoTab</span>}
                                    @if (Rv.Art.Info2Tab != null)
                                    {<span class="@TabCls("info2")" @onclick='() => _artTab = "info2"'>@Rv.Art.Info2Tab</span>}
                                </div>
                                <div class="art-body">
                                    @if (CurrentArtTab == "art")
                                    {
                                        @if (Rv.Art.Images.ContainsKey("Artwork")){<img src="/art/Artwork?v=@Rv.Art.Version" />}
                                        @if (Rv.Art.Images.ContainsKey("Logo")){<img src="/art/Logo?v=@Rv.Art.Version" />}
                                    }
                                    else if (CurrentArtTab == "medium")
                                    {
                                        @if (Rv.Art.Images.ContainsKey("Medium1")){<img src="/art/Medium1?v=@Rv.Art.Version" />}
                                        @if (Rv.Art.Images.ContainsKey("Medium2")){<img src="/art/Medium2?v=@Rv.Art.Version" />}
                                    }
                                    else if (CurrentArtTab == "screens")
                                    {
                                        @if (Rv.Art.Images.ContainsKey("ScreenTitle")){<img src="/art/ScreenTitle?v=@Rv.Art.Version" />}
                                        @if (Rv.Art.Images.ContainsKey("ScreenShot")){<img src="/art/ScreenShot?v=@Rv.Art.Version" />}
                                    }
                                    else if (CurrentArtTab == "info")
                                    {
                                        <pre class="nfo" style="font-size:@(_nfoFontSize)px">@Rv.Art.InfoText</pre>
                                        <input type="range" min="6" max="20" @bind="_nfoFontSize" @bind:event="oninput" />
                                    }
                                    else if (CurrentArtTab == "info2")
                                    {
                                        <pre class="nfo" style="font-size:@(_nfoFontSize)px">@Rv.Art.Info2Text</pre>
                                        <input type="range" min="6" max="20" @bind="_nfoFontSize" @bind:event="oninput" />
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        @* =================== context menus =================== *@
        @if (_treeMenuNode != null)
        {
            <div class="ctx-menu" style="left:@(_menuX)px;top:@(_menuY)px" @onclick:stopPropagation>
                <a @onclick="() => TreeMenuScan(EScanLevel.Level2)">Scan</a>
                <a @onclick="() => TreeMenuScan(EScanLevel.Level1)">Scan Quick (Headers Only)</a>
                <a @onclick="() => TreeMenuScan(EScanLevel.Level3)">Scan Full (Complete Re-Scan)</a>
                @if (!_treeMenuNode.IsInToSort)
                {
                    <a @onclick="TreeMenuDirRules">Set Dir Dat Settings</a>
                    <a @onclick="TreeMenuDirMappings">Set Dir Mappings</a>
                    <hr />
                    <a @onclick="TreeMenuFixDat">Save fix DATs</a>
                    <a @onclick="TreeMenuFullDat">Save full DAT</a>
                }
                else
                {
                    <hr />
                    @if (!_treeMenuNode.ToSortStatusIs(RvFile.ToSortDirType.ToSortPrimary))
                    {<a @onclick="() => ToSortAction(Rv.ToSortSetPrimary)">Set To Primary ToSort</a>}
                    @if (!_treeMenuNode.ToSortStatusIs(RvFile.ToSortDirType.ToSortCache))
                    {<a @onclick="() => ToSortAction(Rv.ToSortSetCache)">Set To Cache ToSort</a>}
                    @if (!_treeMenuNode.ToSortStatusIs(RvFile.ToSortDirType.ToSortFileOnly))
                    {<a @onclick="() => ToSortAction(Rv.ToSortSetFileOnly)">Set To File Only ToSort</a>}
                    else
                    {<a @onclick="() => ToSortAction(Rv.ToSortClearFileOnly)">Clear File Only ToSort</a>}
                    @if (!_treeMenuNode.ToSortStatusIs(RvFile.ToSortDirType.ToSortPrimary) && !_treeMenuNode.ToSortStatusIs(RvFile.ToSortDirType.ToSortCache))
                    {<a @onclick="() => ToSortAction(Rv.ToSortRemove)">Remove</a>}
                    <hr />
                    @if (RvApp.ToSortIndex(_treeMenuNode) >= 2)
                    {<a @onclick="() => ToSortAction(n => Rv.ToSortMove(n, true))">Move Up</a>}
                    @if (RvApp.ToSortIndex(_treeMenuNode) >= 0 && RvApp.ToSortIndex(_treeMenuNode) <= DB.DirRoot.ChildCount - 2)
                    {<a @onclick="() => ToSortAction(n => Rv.ToSortMove(n, false))">Move Down</a>}
                }
            </div>
        }
        @if (_gameMenuRow != null)
        {
            <div class="ctx-menu" style="left:@(_menuX)px;top:@(_menuY)px" @onclick:stopPropagation>
                <a @onclick="() => GameMenuScan(EScanLevel.Level2)">Scan</a>
                <a @onclick="() => GameMenuScan(EScanLevel.Level1)">Scan Quick (Headers Only)</a>
                <a @onclick="() => GameMenuScan(EScanLevel.Level3)">Scan Full (Complete Re-Scan)</a>
                <hr />
                @if (RvApp.GameWebUrl(_gameMenuRow.File) != null)
                {<a @onclick="OpenGameWebPage">Open Web Page</a>}
                <a @onclick="CopyGameInfo">Copy Name / Info</a>
            </div>
        }

        @* =================== rom occurrence modal =================== *@
        @if (_romInfoRows != null)
        {
            <div class="overlay" @onclick="() => _romInfoRows = null">
                <div class="dialog rominfo-dlg" @onclick:stopPropagation>
                    <div class="dlg-title">Rom Occurrence list</div>
                    <div class="dlg-body">
                        <div class="rominfo-list">
                            @foreach (var r in _romInfoRows)
                            {
                                <div class="rominfo-row"><span>@r.Status</span><span>@r.Path</span></div>
                            }
                        </div>
                    </div>
                    <div class="dlg-buttons"><button @onclick="() => _romInfoRows = null">Close</button></div>
                </div>
            </div>
        }

        <ProgressOverlay Model="Rv.Progress" />
        <FixProgressOverlay Model="Rv.FixProgress" />
        <MessageOverlay Rv="Rv" />
        <DialogHost Rv="Rv" @ref="_dialogs" />
    </div>
}

@code {
    private Settings S => Settings.rvSettings;
    private bool Dark => S?.Darkness == true;
    private DialogHost _dialogs;

    private RvFile _treeMenuNode;
    private GameRow _gameMenuRow;
    private double _menuX, _menuY;
    private System.Timers.Timer _refreshTimer;
    private string _artTab;
    private int _nfoFontSize = 12;
    private List<(string Status, string Path)> _romInfoRows;

    protected override void OnInitialized()
    {
        Rv.OnChange += Refresh;
        // 8-second refresh while an operation runs (the desktop timer1)
        _refreshTimer = new System.Timers.Timer(8000);
        _refreshTimer.Elapsed += (s, e) => { if (Rv.Working) { Rv.DatSetSelected(Rv.Selected); Refresh(); } };
        _refreshTimer.Start();
    }

    private void Refresh() => InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        Rv.OnChange -= Refresh;
        _refreshTimer?.Dispose();
    }

    private MarkupString SortGlyph(int col) =>
        (MarkupString)(Rv.GameSortIndex == col ? (Rv.GameSortAscending ? "&nbsp;&#9650;" : "&nbsp;&#9660;") : "");

    // active tab defaulting to the first available
    private string CurrentArtTab
    {
        get
        {
            var available = new List<string>();
            if (Rv.Art.HasArt) available.Add("art");
            if (Rv.Art.HasMedium) available.Add("medium");
            if (Rv.Art.HasScreens) available.Add("screens");
            if (Rv.Art.InfoTab != null) available.Add("info");
            if (Rv.Art.Info2Tab != null) available.Add("info2");
            if (available.Count == 0) return "";
            return available.Contains(_artTab) ? _artTab : available[0];
        }
    }

    private string TabCls(string tab) => CurrentArtTab == tab ? "art-tab active" : "art-tab";

    private string RomColsStyle
    {
        get
        {
            List<string> cols = new() { "44px", "minmax(220px,2fr)" };
            if (Rv.RomShowMerge) cols.Add("90px");
            cols.AddRange(new[] { "90px", "110px", "130px", "130px" });
            if (Rv.RomShowAlt) cols.AddRange(new[] { "70px", "110px", "130px", "130px" });
            if (Rv.RomShowStatus) cols.Add("110px");
            if (Rv.RomShowDate) cols.Add("150px");
            cols.AddRange(new[] { "50px", "56px" });
            return "grid-template-columns:" + string.Join(" ", cols);
        }
    }

    private void OnFilterInput(ChangeEventArgs e)
    {
        Rv.FilterText = e.Value?.ToString() ?? "";
        Rv.UpdateGameGrid();
    }

    private void ClearFilter()
    {
        Rv.FilterText = "";
        Rv.UpdateGameGrid();
    }

    // ------------------------- context menus -------------------------
    private void ShowTreeMenu((RvFile Node, double X, double Y) args)
    {
        _gameMenuRow = null;
        _treeMenuNode = args.Node;
        _menuX = args.X; _menuY = args.Y;
    }

    private void ShowGameMenu(GameRow row, MouseEventArgs e)
    {
        _treeMenuNode = null;
        _gameMenuRow = row;
        _menuX = e.ClientX; _menuY = e.ClientY;
    }

    private void CloseContextMenus()
    {
        _treeMenuNode = null;
        _gameMenuRow = null;
    }

    private async Task TreeMenuScan(EScanLevel level)
    {
        RvFile node = _treeMenuNode;
        CloseContextMenus();
        await Rv.RunScan(level, node);
    }

    private void TreeMenuFixDat()
    {
        RvFile node = _treeMenuNode;
        CloseContextMenus();
        Rv.MakeFixDat(node, true);
    }

    private void TreeMenuFullDat()
    {
        RvFile node = _treeMenuNode;
        CloseContextMenus();
        Rv.SaveFullDat(node);
    }

    private void TreeMenuDirRules()
    {
        RvFile node = _treeMenuNode;
        CloseContextMenus();
        _dialogs?.Open("dirrules", node.DatTreeFullName);
    }

    private void TreeMenuDirMappings()
    {
        RvFile node = _treeMenuNode;
        CloseContextMenus();
        _dialogs?.Open("dirmappings", node.TreeFullName);
    }

    private void ToSortAction(Action<RvFile> action)
    {
        RvFile node = _treeMenuNode;
        CloseContextMenus();
        if (node != null) action(node);
    }

    private async Task GameMenuScan(EScanLevel level)
    {
        GameRow row = _gameMenuRow;
        CloseContextMenus();
        if (row != null)
            await Rv.RunScan(level, row.File);
    }

    private async Task OpenGameWebPage()
    {
        GameRow row = _gameMenuRow;
        CloseContextMenus();
        string url = RvApp.GameWebUrl(row?.File);
        if (url != null)
            await JS.InvokeVoidAsync("rvOpenUrl", url);
    }

    private async Task CopyGameInfo()
    {
        GameRow row = _gameMenuRow;
        CloseContextMenus();
        if (row == null) return;
        string text = $"Name : {row.Name}\nDesc : {row.Description}\n";
        await JS.InvokeVoidAsync("rvCopyText", text);
    }

    private void ShowRomInfo(RomRow row)
    {
        if (string.IsNullOrEmpty(row.DupeCount))
            return;
        _romInfoRows = RvApp.RomOccurrences(row.File);
    }

    private void OpenDialog(string name) => _dialogs?.Open(name);

    // ------------------------- keyboard -------------------------
    [JSInvokable]
    public async Task OnHotKey(string key, bool shift, bool ctrl)
    {
        if (Rv.Working && key != "F1" && key != "F12") return;
        switch (key)
        {
            case "F1": OpenDialog("colorkey"); break;
            case "F5": await Rv.RunUpdateDats(shift); break;
            case "F6":
                await Rv.RunScan(ctrl ? EScanLevel.Level3 : shift ? EScanLevel.Level1 : EScanLevel.Level2);
                break;
            case "F7": await Rv.RunFindFixes(); break;
            case "F8": await Rv.RunFix(); break;
            case "F9":
                if (ctrl) Rv.RunFixReport();
                else if (shift) Rv.RunFullReport();
                else Rv.MakeFixDat(null, true);
                break;
            case "F10":
                OpenDialog(ctrl ? "dirmappings" : shift ? "dirrules" : "settings");
                break;
            case "F11": OpenDialog("addtosort"); break;
            case "F12": OpenDialog("about"); break;
        }
        Refresh();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JS.InvokeVoidAsync("rvHotkeys", DotNetObjectReference.Create(this));
    }
}
